@charset "uft-8";
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Noto+Sans+KR&display=swap');
/*reset*/
*{margin: 0; padding: 0;
background-color: #F8F9FA;}
/* html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;} */
a {color: inherit; text-decoration: none;}
li {list-style: none;}
address, em , i {font-style: none;}
/* h1,h2,h3,h4,h5,h6 {font-size: inherit;} */
a:hover {text-decoration: none; color: inherit;}

/*layout*/
body {font-family: 'Noto Sans KR', sans-serif; font-size: 14px;}
.wrap {width: 100%; overflow: hidden;}
.en {font-family: 'Bebas Neue', cursive;}

/*header*/
header {width: 100%; position: fixed; z-index: 100; border: 2px solid purple; background-color: #F8F9FA;}
.innerHeader { padding: 0 60px;transition: all 0.3s; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -ms-transition: all 0.3s; -o-transition: all 0.3s; }
.logo1 {
    float: right;
    margin-top: 3%;
}
.logo2 {
    float: left;
    margin-top: 3%;
}

.logo3 {
    margin: 0 auto;
    width: 20%;
    left: 100%;
    transform: translateX(120%);
    -webkit-transform: translateX(120%);
    -moz-transform: translateX(120%);
    -ms-transform: translateX(120%);
    -o-transform: translateX(120%);
}

/*gnb*/
/* .gnb {position: absolute; left: 50%; transform: translateX(-50%); width: 100%;} */
/* .gnb > li {float: left; width: 20%; height: 90px; line-height: 90px; position: relative; transition: all 0.3s;}
.gnb > li > a {display: block; width: 100%; height: 100%; text-align: center;color: black; font-size: 18px; font-weight: 500; }
.gnb > li > a:before {position: absolute; content: ''; background: #9DC3E6; width: 75%; height: 100%; z-index: -1; left: 50%; transform: translateX(-50%); top:-90px; opacity: 0; transition: all 0.3s;}
.gnb li:hover > a:before, .gnb li > a:focus:before {opacity: 1; top:0;}

.gnb ul.inner { position: absolute; top:80px; left: 12%; width: 160px; background: #fff;box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1); padding: 0; box-sizing: border-box; line-height:0; opacity: 0; transition: opacity 0.5s, top 0.5s; overflow: hidden;}
.gnb ul.inner.on { top: 90px; padding: 10px 25px; line-height: 50px; opacity: 1;}
.gnb ul.inner a {display: block; width: 100%; height: 100%;font-size: 17px;}
.gnb ul.inner a span {display: inline-block; position: relative;}
.gnb ul.inner a span:after {content: ''; width: 0; height: 2px; background: #9DC3E6; position: absolute; left: 0; bottom:8px; transition: all 0.3s;}
.gnb ul.inner a:hover span:after, .gnb ul.inner a:focus span:after {width: 100%; padding-right: 10px; } */

/*fixHeader*/
header.on .innerHeader {height: 60px; transition: all 0.4s;}
header.on .innerHeader .logo {margin-top: 5px; transition: all 0.4s;}
header.on .innerHeader .logo a img:nth-child(1) {opacity: 0;}
header.on .innerHeader .logo a img:nth-child(2) {opacity: 1;}
header.on .gnb > li { height: 60px; line-height: 60px; transition: all 0.4s;}
header.on .gnb ul.inner.on {top: 60px;}


/* footer */
footer {background: #191a1a; padding: 30px 60px; color: #666;}
footer ul {clear: both; margin-bottom: 10px; overflow: hidden;}
footer ul:first-child {font-weight: bold; color: #aaa; font-size: 15px;}
footer ul li {float: left; margin-right: 20px;}
footer p {clear: both;font-family: 'Bebas Neue', cursive; letter-spacing: 1px; font-size: 15px;}


