<!DOCTYPE html>
<html lang="ko">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Share Gift</title>
    <link rel="stylesheet" href="{% static 'css/main_base.css' %}">
    <link rel="stylesheet" href="{% static 'css/slick.css' %}">
    <script src="{% static 'js/jquery-3.3.1.min.js'%}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/splitting.min.js' %}"></script>
    <script src="{% static 'js/slick.min.js' %}"></script>
    <script src="{% static 'js/scrolla.jquery.min.js' %}"></script>

</head>
<body>
<div class="wrap">
   <!-- header-->
    <header>
        <div class="innerHeader">
            <a href="/"><img class="logo2" src="{% static 'img/home.png' %}" width="10%"></a>
            <a href="/"><img class="logo3" src="{% static 'img/logo_share_gift.png' %}" alt="로고"/></a>
            <a href="/"><img class="logo1" src="{% static 'img/person.png' %}" width="10%"/></a>
        </div>
    </header>
{% block content %}
{% endblock %}
    <!-- footer -->
    <!-- <footer>
        <ul>
            <li>채팅데이터 분석</li>
            <li>빅데이터</li>
        </ul>
        <ul>
            <!-- <li>현대 IT&E 한섬팀 조신성</li>
            <li>현대 IT&E 한섬팀 하수빈</li>
            <li>현대 IT&E 홈쇼핑 주문운영팀 진원지</li> -->
            <!-- <li>한섬 옷을 좋아하고</li>
            <li>한섬의 라이브커머스를 좋아해서</li>
            <li>"한눈에" 한섬 라이브 커머스를 보고 싶어 만든 웹</li>
        </ul>
        <p>COPYRIGHT VITAMIN-PLUS 2021</p>
    </footer>  -->
</div>
</body>
</html>
