<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Share Gift</title>
</head>
<body>
    <!--div display:block-->
    <div>
        안녕하세요. 조신성입니다.
    </div>
    <div>
        웹을 제작중입니다
    </div>
    <!-- span display: inline-->
    <span>이건</span>
    <span>옆으로 보입니다.</span>

    <p>이 친구도 div같은 친구</p> <!-- 글자를 쓰고 싶을떄는 p태그를 씁니다.-->

    <button>Click Me</button>

    <textarea>
        안녕하세요 반갑습니다
        저는 웹을 제작하고 있습니다.
    </textarea>
    <br/>
    <form method="GET">
        <label name="ID" >ID : </label>
        <input type="text" name="ID"/>
        <hr/>
        <label name="password">PW : </label>
        <input type="password" name="password"/>
        <input type="submit" name="submit" value="로그인"/>
        <input type="email" name="email"/>
        <input type="checkbox" />
        <input type="radio"/>
        <input type="reset"/>
    </form>
    <hr/>
    <input type="text" value="이건 못 지우지" readonly/>
    <br/>
</body>
</html>