<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Share Gift</title>
    <link
      rel="stylesheet"
      href="C:\Users\tlstj\OneDrive\문서\pwa-web\shareGift\static\css\start.css"
    />
</head>
<body>
    <!--div display:block-->
    <h1>HELLO</h1>
    <h1>HELLO</h1>
    <h1 class="red">HELLO</h1>
    <h1>HELLO</h1>
    <h1>HELLO</h1>
    <h2>HELLO</h2>
    <h3>HELLO</h3>
    <div>
        안녕하세요. 조신성입니다.
    </div>
    <div>
        웹을 제작중입니다
    </div>
    <!-- span display: inline-->
    <span>이건</span>
    <span>옆으로 보입니다.</span>

    <p>이 친구도 div같은 친구</p> <!-- 글자를 쓰고 싶을떄는 p태그를 씁니다.-->

    <button>Click Me</button>

    <textarea>
        안녕하세요 반갑습니다
        저는 웹을 제작하고 있습니다.
    </textarea>
    <br/>
    <form method="GET">
        <label name="ID" >ID : </label>
        <input type="text" name="ID"/>
        <hr/>
        <label name="password">PW : </label>
        <input type="password" name="password"/>
        <input type="submit" name="submit" value="로그인"/>
        <input type="email" name="email"/>
        <input type="checkbox" />
        <input type="radio"/>
        <input type="reset"/>
    </form>
    <hr/>
    <input type="text" value="이건 못 지우지" readonly/>

    <a href="base.html" >base</a>
    <img src= "https://notepad-plus-plus.org/images/logo.svg" width="500px"/>
    <br/>

    <h2 class="you">목록 태그</h2>
    <ul>
        <li>Hello1</li>
        <li>Hello2</li>
        <li>Hello3</li>
        <li>Hello4</li>
    </ul>
    <ol>
        <li>Hi1</li>
        <li>Hi2</li>
        <li>Hi3</li>
        <li>Hi4</li>
    </ol>

    <table>
        <tr>
            <th>key</th>
            <td>1</td>
            <td>2</td>
        </tr>
        <tr>
            <th>value</th>
            <td>100</td>
            <td>101</td>
        </tr>
    </table>
    <table>
        <tr>
            <th>key</th>
            <th>value</th>
        </tr>
        <tr>
            <td>1</td>
            <td>2</td>
        </tr>
        <tr>
            <td>100</td>
            <td>101</td>
        </tr>
    </table>

    <hr/>
    <select>
        <option>떡볶이</option>
        <option>치킨</option>
        <option>피자</option>
    </select>

    <form>
        <fieldset>
            <legend>회원가입</legend>
            <table>
                <tr>
                    <td><label name="id">ID</label></td>
                    <td><input type="text" name="id"></td>
                </tr>
                <tr>
                    <td><label name="pw">PW</label></td>
                    <td><input type="password" name="pw"></td>
                </tr>
                <tr>
                    <td><label name="email">E-mail</label></td>
                    <td><input type="email" name="email"></td>
                </tr>
            </table>
            <label name="id">ID</label>
            <input type="text" name="id">
            <label name="pw">PW</label>
            <input type="password" name="pw">
            <label name="email">E-mail</label>
            <input type="email" name="email">
        </fieldset>
    </form>
</body>
</html>